Repository valantic/vue-template, pull requests merged in 2024-01, with the labels that each got.

#334 #241 wysiwyg styles
  .nvmrc
  src/setup/scss/_globals.scss
  src/setup/scss/mixins/_headings.scss
  src/setup/scss/variables/_font.scss
  src/styleguide/routes/r-wysiwyg.vue
  vite.config.ts
Labels: enhancement, vue-3

#340 Feature/#328 Updates form-states.ts and form element components
  src/compositions/form-states.ts
  src/elements/e-checkbox.vue
  src/elements/e-input.vue
  src/elements/e-radio.vue
  src/elements/e-select.vue
  src/elements/e-textarea.vue
  src/styleguide/routes/r-forms.vue
Labels: enhancement, vue-3, components

#346 Feature/345 Updates README.md Vue3
  README.md
Labels: enhancement

#348 Feature/310 cookie consent
  package-lock.json
  package.json
  src/plugins/consent/c-consent-gatekeeper.vue
  src/plugins/consent/index.ts
  src/setup/styleguide/routes.ts
  src/styleguide/routes/components/r-consent.vue
  src/styleguide/routes/components/r-google-maps.vue
  src/styleguide/routes/components/r-notifications.vue
  src/styleguide/routes/components/r-picture.vue
  src/styleguide/routes/components/r-table.vue
  src/styleguide/routes/components/r-tooltips.vue
  src/styleguide/routes/components/r-video.vue
  src/styleguide/routes/sandbox/r-forms.vue
  src/styleguide/routes/sandbox/r-icons.vue
  src/styleguide/routes/sandbox/r-sandbox.vue
  src/styleguide/routes/sandbox/r-wysiwyg.vue
  src/translations/de.json
  tsconfig.json
Labels: enhancement, vue-3, components

#335 TS config improvals
  .lintstagedrc.js
  README.md
  package.json
  package.md
  src/components/c-google-maps.vue
  src/directives/price.ts
  src/elements/e-icon.vue
  src/elements/e-multiselect.vue
  src/elements/e-video.vue
  src/helpers/format-price.ts
  src/setup/i18n.ts
  src/styleguide/components/s-api-mock-test.vue
  src/styleguide/components/s-theme-selector.vue
  src/styleguide/mock-data/data-object/image.ts
  tests/unit/specs/plugins/vue-bem/bem-cn.test.ts
  tests/unit/specs/plugins/vue-bem/bem-names.test.ts
  tests/unit/specs/plugins/vue-bem/testingEntitys.ts
  tsconfig.json
  vite.config.ts
Labels: enhancement, vue-3

#352 Feature/#129 focus mask
  src/plugins/v-focus/directives/focus-item.ts
  src/plugins/v-focus/directives/focus-mask.ts
  src/plugins/v-focus/state.ts
  src/plugins/v-focus/styles/_focus-item.scss
  src/plugins/v-focus/styles/_focus-mask.scss
  src/setup/plugins.ts
  src/setup/styleguide/routes.ts
  src/styleguide/routes/directives/r-focus-mask.vue
Labels: enhancement

#339 #311 Tooltip enhancements
  src/directives/price.ts
  src/plugins/tooltip/c-tooltip.vue
  src/plugins/tooltip/directives/directive.ts
  src/plugins/tooltip/styles/styles.scss
  src/plugins/viewport.ts
  src/setup/directives.ts
  src/setup/scss/_elements.scss
  src/stores/plugins/api.ts
  src/styleguide/routes/components/r-tooltips.vue
  src/types/custom-directive.d.ts
  src/types/named-directive.d.ts
  tests/unit/specs/directives/price.test.ts
Labels: enhancement, vue-3

#358 Bugfix/356 lint staged
  .eslintrc.fix.cjs
  .lintstagedrc.js
  .stylelintrc.fix.js
  .stylelintrc.js
  babel.config.js
  package.json
Labels: bug, high priority

#357 #342 e-multiselect invalid HTML
  src/elements/e-multiselect.vue
  src/styleguide/routes/sandbox/r-forms.vue
Labels: enhancement
